:root {
  --collection-1-content-width-max: 832px;
  --colors-gray-100: rgba(245, 245, 245, 1);
  --colors-gray-200: rgba(233, 234, 235, 1);
  --colors-gray-25: rgba(253, 253, 253, 1);
  --colors-gray-300: rgba(213, 215, 218, 1);
  --colors-gray-400: rgba(164, 167, 174, 1);
  --colors-gray-50: rgba(250, 250, 250, 1);
  --colors-gray-500: rgba(113, 118, 128, 1);
  --colors-gray-600: rgba(83, 88, 98, 1);
  --colors-gray-700: rgba(65, 70, 81, 1);
  --colors-gray-800: rgba(37, 43, 55, 1);
  --colors-gray-900: rgba(10, 12, 16, 1);
  --colors-indigo-WIP-100: rgba(224, 234, 255, 1);
  --colors-indigo-WIP-200: rgba(199, 215, 254, 1);
  --colors-indigo-WIP-25: rgba(245, 248, 255, 1);
  --colors-indigo-WIP-300: rgba(164, 188, 253, 1);
  --colors-indigo-WIP-400: rgba(128, 152, 249, 1);
  --colors-indigo-WIP-50: rgba(238, 244, 255, 1);
  --colors-indigo-WIP-500: rgba(97, 114, 243, 1);
  --colors-indigo-WIP-600: rgba(68, 76, 231, 1);
  --colors-indigo-WIP-700: rgba(53, 56, 205, 1);
  --colors-indigo-WIP-800: rgba(45, 49, 166, 1);
  --colors-indigo-WIP-900: rgba(45, 50, 130, 1);
  --colors-orange-500: rgba(255, 85, 0, 1);
  --colors-stroke-stroke-default: var(--colors-gray-100);
  --colors-stroke-stroke-medium: var(--colors-gray-200);
  --colors-stroke-stroke-opaque: var(--colors-gray-700);
  --colors-stroke-stroke-strong: var(--colors-gray-300);
  --colors-text-text-fade: var(--colors-gray-400);
  --colors-text-text-primary: var(--colors-gray-900);
  --colors-text-text-secondary: var(--colors-gray-700);
  --colors-text-text-tertiary: var(--colors-gray-500);
  --colors-white: rgba(255, 255, 255, 1);
  --h1-bold-font-family: "Geist", Helvetica;
  --h1-bold-font-size: 44px;
  --h1-bold-font-style: normal;
  --h1-bold-font-weight: 500;
  --h1-bold-letter-spacing: -0.88px;
  --h1-bold-line-height: 48px;
  --h1-regular-font-family: "Geist", Helvetica;
  --h1-regular-font-size: 44px;
  --h1-regular-font-style: normal;
  --h1-regular-font-weight: 400;
  --h1-regular-letter-spacing: -0.44px;
  --h1-regular-line-height: 48px;
  --h2-regular-font-family: "Geist", Helvetica;
  --h2-regular-font-size: 32px;
  --h2-regular-font-style: normal;
  --h2-regular-font-weight: 400;
  --h2-regular-letter-spacing: 0px;
  --h2-regular-line-height: 38px;
  --h2-semibold-font-family: "Geist", Helvetica;
  --h2-semibold-font-size: 32px;
  --h2-semibold-font-style: normal;
  --h2-semibold-font-weight: 600;
  --h2-semibold-letter-spacing: 0px;
  --h2-semibold-line-height: 38px;
  --h3-medium-font-family: "Geist", Helvetica;
  --h3-medium-font-size: 28px;
  --h3-medium-font-style: normal;
  --h3-medium-font-weight: 500;
  --h3-medium-letter-spacing: -0.28px;
  --h3-medium-line-height: 32px;
  --h3-regular-font-family: "Geist", Helvetica;
  --h3-regular-font-size: 28px;
  --h3-regular-font-style: normal;
  --h3-regular-font-weight: 400;
  --h3-regular-letter-spacing: -0.28px;
  --h3-regular-line-height: 32px;
  --h4-medium-font-family: "Geist", Helvetica;
  --h4-medium-font-size: 24px;
  --h4-medium-font-style: normal;
  --h4-medium-font-weight: 500;
  --h4-medium-letter-spacing: 0px;
  --h4-medium-line-height: 32px;
  --h4-regular-font-family: "Uncut Sans Variable", Helvetica;
  --h4-regular-font-size: 24px;
  --h4-regular-font-style: normal;
  --h4-regular-font-weight: 400;
  --h4-regular-letter-spacing: 0px;
  --h4-regular-line-height: 32px;
  --indigo-100: rgba(224, 234, 255, 1);
  --indigo-200: rgba(199, 215, 254, 1);
  --indigo-25: rgba(245, 248, 255, 1);
  --indigo-300: rgba(164, 188, 253, 1);
  --indigo-400: rgba(128, 152, 249, 1);
  --indigo-50: rgba(238, 244, 255, 1);
  --indigo-500: rgba(97, 114, 243, 1);
  --indigo-600: rgba(68, 76, 231, 1);
  --indigo-700: rgba(53, 56, 205, 1);
  --indigo-800: rgba(45, 49, 166, 1);
  --indigo-900: rgba(45, 50, 130, 1);
  --master-field-active: 0px 4px 12px 0px rgba(113, 118, 128, 0.15),
    0px 2px 6px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(65, 70, 81, 0.25);
  --master-field-default: 0px 4px 12px 0px rgba(113, 118, 128, 0.08),
    0px 2px 6px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(65, 70, 81, 0.12);
  --master-field-hover: 0px 4px 12px 0px rgba(113, 118, 128, 0.08),
    0px 2px 6px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(65, 70, 81, 0.25);
  --orange-500: rgba(255, 85, 0, 1);
  --shadow-btn-secondary: 0px 1px 1px 0px rgba(83, 88, 98, 0.1),
    0px 0px 0px 1px rgba(83, 88, 98, 0.1),
    0px 2px 5px 0px rgba(83, 88, 98, 0.05);
  --text-lg-medium-font-family: "Geist", Helvetica;
  --text-lg-medium-font-size: 18px;
  --text-lg-medium-font-style: normal;
  --text-lg-medium-font-weight: 500;
  --text-lg-medium-letter-spacing: 0px;
  --text-lg-medium-line-height: 28px;
  --text-lg-regular-font-family: "Geist", Helvetica;
  --text-lg-regular-font-size: 18px;
  --text-lg-regular-font-style: normal;
  --text-lg-regular-font-weight: 400;
  --text-lg-regular-letter-spacing: 0px;
  --text-lg-regular-line-height: 28px;
  --text-md-medium-font-family: "Uncut Sans Variable", Helvetica;
  --text-md-medium-font-size: 16px;
  --text-md-medium-font-style: normal;
  --text-md-medium-font-weight: 500;
}
